In [1]:
import pandas as pd
import numpy as np
import os
import random
from copy import deepcopy
import math
from itertools import product
import pickle
import joblib
from tqdm import tqdm

import matplotlib.pyplot as plt
import seaborn as sb

from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score, confusion_matrix, ConfusionMatrixDisplay

In [2]:
idx_df=pd.read_csv('./customData/idx.csv',index_col=0)
idx_df.columns=['idx','user_id']

In [3]:
merged_df=pd.read_csv('./customData/work_target.csv',index_col=0)

In [4]:
# result=pd.read_csv('./customData/imcompleted_merged_ver0_5.csv',index_col=0)

In [16]:
idx_df[idx_df['user_id']>=453640]

             idx  user_id
163664   6968268   453640
163665   6968274   453641
163666   6968280   453642
163667   6968296   453643
163668   6968297   453645
...          ...      ...
317462  13527092   879692
317463  13527152   879693
317464  13527177   879695
317465  13527182   879696
317466  13527214   879697

[153803 rows x 2 columns]

In [20]:
idx_df.loc[163665][0]

6968274

In [6]:
start = 163665

In [7]:
result = pd.DataFrame()
for i in tqdm(range(start, 20_0000)):
    idx=idx_df.loc[i][0]
    result= pd.concat([result, merged_df.iloc[idx:idx_df.loc[i+1][0]].fillna(method='ffill').fillna(method='bfill')])

100%|█████████████████████████████████████████████████████████████████████████████| 36335/36335 [31:45<00:00, 19.07it/s]

In [8]:
result.to_csv('./customData/result1.csv')

In [10]:
start = 30_0000

In [12]:
result = pd.DataFrame()
for i in tqdm(range(start, 317467)):
    idx=idx_df.loc[i][0]
    result= pd.concat([result, merged_df.iloc[idx:idx_df.loc[i+1][0]].fillna(method='ffill').fillna(method='bfill')])

100%|████████████████████████████████████████████████████████████████████████████▉| 17466/17467 [09:36<00:00, 30.30it/s]

KeyError: 317467

In [13]:
result

,index,application_id,user_id,birth_year,gender,insert_time,credit_score,yearly_income,income_type,company_enter_month,...,personal_rehabilitation_yn,personal_rehabilitation_complete_yn,existing_loan_cnt,existing_loan_amt,loanapply_insert_time,bank_id,product_id,loan_limit,loan_rate,is_applied
12785975,7521949,2021754,831212,1990.0,0.0,2022-04-26 14:47:20,590.0,26000000.0,EARNEDINCOME,201808.0,...,NaN,NaN,2.0,12000000.0,2022-04-26 14:47:20,59,150,30000000.0,17.6,0.0
12785976,7521932,2021754,831212,1990.0,0.0,2022-04-26 14:47:20,590.0,26000000.0,EARNEDINCOME,201808.0,...,NaN,NaN,2.0,12000000.0,2022-04-26 14:47:21,50,142,29000000.0,19.9,0.0
12785977,7521935,2021754,831212,1990.0,0.0,2022-04-26 14:47:20,590.0,26000000.0,EARNEDINCOME,201808.0,...,NaN,NaN,2.0,12000000.0,2022-04-26 14:47:21,10,149,15000000.0,18.5,0.0
12785978,7521938,2021754,831212,1990.0,0.0,2022-04-26 14:47:20,590.0,26000000.0,EARNEDINCOME,201808.0,...,NaN,NaN,2.0,12000000.0,2022-04-26 14:47:21,38,223,13000000.0,16.6,0.0
12785979,7521939,2021754,831212,1990.0,0.0,2022-04-26 14:47:20,590.0,26000000.0,EARNEDINCOME,201808.0,...,NaN,NaN,2.0,12000000.0,2022-04-26 14:47:21,33,110,17000000.0,15.6,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13527209,589987,1856758,879696,1997.0,1.0,2022-03-14 05:40:38,610.0,37000000.0,EARNEDINCOME,202110.0,...,NaN,NaN,3.0,20000000.0,2022-03-14 05:40:45,19,127,9000000.0,9.4,0.0
13527210,589990,1856758,879696,1997.0,1.0,2022-03-14 05:40:38,610.0,37000000.0,EARNEDINCOME,202110.0,...,NaN,NaN,3.0,20000000.0,2022-03-14 05:40:46,23,108,10000000.0,16.5,0.0
13527211,589995,1856758,879696,1997.0,1.0,2022-03-14 05:40:38,610.0,37000000.0,EARNEDINCOME,202110.0,...,NaN,NaN,3.0,20000000.0,2022-03-14 05:40:50,22,164,9000000.0,8.4,0.0
13527212,589989,1856758,879696,1997.0,1.0,2022-03-14 05:40:38,610.0,37000000.0,EARNEDINCOME,202110.0,...,NaN,NaN,3.0,20000000.0,2022-03-14 05:40:56,49,39,11000000.0,16.1,1.0
13527213,589998,1856758,879696,1997.0,1.0,2022-03-14 05:40:38,610.0,37000000.0,EARNEDINCOME,202110.0,...,NaN,NaN,3.0,20000000.0,2022-03-14 05:40:56,49,136,9000000.0,6.5,0.0

In [14]:
result= pd.concat([result, merged_df.iloc[idx:].fillna(method='ffill').fillna(method='bfill')])

In [15]:
result

,index,application_id,user_id,birth_year,gender,insert_time,credit_score,yearly_income,income_type,company_enter_month,...,personal_rehabilitation_yn,personal_rehabilitation_complete_yn,existing_loan_cnt,existing_loan_amt,loanapply_insert_time,bank_id,product_id,loan_limit,loan_rate,is_applied
12785975,7521949,2021754,831212,1990.0,0.0,2022-04-26 14:47:20,590.0,26000000.0,EARNEDINCOME,201808.0,...,NaN,NaN,2.0,12000000.0,2022-04-26 14:47:20,59,150,30000000.0,17.6,0.0
12785976,7521932,2021754,831212,1990.0,0.0,2022-04-26 14:47:20,590.0,26000000.0,EARNEDINCOME,201808.0,...,NaN,NaN,2.0,12000000.0,2022-04-26 14:47:21,50,142,29000000.0,19.9,0.0
12785977,7521935,2021754,831212,1990.0,0.0,2022-04-26 14:47:20,590.0,26000000.0,EARNEDINCOME,201808.0,...,NaN,NaN,2.0,12000000.0,2022-04-26 14:47:21,10,149,15000000.0,18.5,0.0
12785978,7521938,2021754,831212,1990.0,0.0,2022-04-26 14:47:20,590.0,26000000.0,EARNEDINCOME,201808.0,...,NaN,NaN,2.0,12000000.0,2022-04-26 14:47:21,38,223,13000000.0,16.6,0.0
12785979,7521939,2021754,831212,1990.0,0.0,2022-04-26 14:47:20,590.0,26000000.0,EARNEDINCOME,201808.0,...,NaN,NaN,2.0,12000000.0,2022-04-26 14:47:21,33,110,17000000.0,15.6,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13527245,3912338,1543548,879697,1962.0,1.0,2022-05-10 20:40:52,NaN,70000000.0,EARNEDINCOME,202204.0,...,0.0,NaN,NaN,NaN,2022-05-10 20:40:55,64,254,28000000.0,6.9,0.0
13527246,3912345,1543548,879697,1962.0,1.0,2022-05-10 20:40:52,NaN,70000000.0,EARNEDINCOME,202204.0,...,0.0,NaN,NaN,NaN,2022-05-10 20:40:55,12,35,23000000.0,9.2,0.0
13527247,3912339,1543548,879697,1962.0,1.0,2022-05-10 20:40:52,NaN,70000000.0,EARNEDINCOME,202204.0,...,0.0,NaN,NaN,NaN,2022-05-10 20:41:07,52,187,3000000.0,5.4,0.0
13527248,3912332,1543548,879697,1962.0,1.0,2022-05-10 20:40:52,NaN,70000000.0,EARNEDINCOME,202204.0,...,0.0,NaN,NaN,NaN,2022-05-10 20:41:10,55,186,50000000.0,10.6,0.0
13527249,3912346,1543548,879697,1962.0,1.0,2022-05-10 20:40:52,NaN,70000000.0,EARNEDINCOME,202204.0,...,0.0,NaN,NaN,NaN,2022-05-10 20:41:11,34,215,34000000.0,11.9,0.0

In [16]:
result.to_csv('./customData/result4.csv')